@{
    ViewBag.Title = "ShowWeather";
}

@Styles.Render("~/Content/bootstrap")

@model weatherAPI.Models.WeatherModel

<div class="row">
    <div class="col">
        <h2>City: @Model.cityName</h2>
        <h4>Temperature: @Model.temp °F</h4>
        <p>Type: @Model.description</p>
        <p>Pressure: @Model.pressure hpa</p>
        <p>Humidity: @Model.humidity%</p>
        <p>Wind Speed: @Model.wind m/s</p>
        <p>Clouds: @Model.clouds%</p>
    </div>
    <div class="col">
        <img src="@Href(@Model.imageURL)" alt="Weather Image" />
    </div>
</div>
